<div class="contenido">

    <form [formGroup]="form" class="conboton">

        <div class="fila1">
            <button class="btnadicion" mat-button (click)="Adiciona()">+</button>

            <button class="btneliminar" mat-button (click)="eliminaTodo()">Eliminar todo</button>
        </div>

        <div class="contenidoprincipal"  formArrayName="utiles">
            <div class="contenido1"   *ngFor="let s of getUtiles.controls; let i = index " [formGroupName]="i">
                
                <mat-form-field appearance="legacy">
                    <mat-label>Utiles Escolares</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="utilNuevo">
                    <small *ngIf="s.invalid">Solo se admiten letras</small>
                </mat-form-field>
               
                <mat-checkbox class="example-margin" formControlName="check">Aceptar</mat-checkbox>

                <!-- Boton eliminar   -->
                <button class="btneliminar22" mat-button (click)="deleteUtilEscolar(i)">Eliminar</button>
                
            </div>
            
        </div>

        <br>

        <div class="fila3">
            <button class="btnguardar" mat-button (click)="guardar()" [disabled]="invalido">Guardar</button>
            
            <button class="btnlimpiar" mat-button (click)="limpiar()">Limpiar</button>
        </div>

      </form>

      <div>
         <p>
            {{ arrayutiles.join('\n')}}
         </p>
      </div>
  </div>